.sidebar__title-content {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--black3);
    font-size: 20px;
}

.sidebar__navigation-links {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar__navigation-link:last-child {
    margin-top: 30px;
}



.sidebar__link {
    text-decoration: none;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 4px 0;
}

.sidebar__link:hover {
    color: var(--red);
}

