* {
    margin: 0;
}

body {
    color: white;
}

header {
    background-color: red;
}

header h1 {
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 42px;
}

nav {
    background-color: orange;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav a {
    font-size: 25px;
    color: white;
}

main {
    background-color: green;
    padding: 0.8em;
}

main div:first-child {
    margin-bottom: 0.5em;
}

main div {
    background-color: blue;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 0.8em;
}

main h2 {
    padding-bottom: 0.5em;
}

li {
    padding-bottom: 0.3em;
}

footer {
    background-color: purple;
    text-align: center;
    padding: 0.5em;
}

footer h1 {
    font-size: 42px;
}


