.page {
    width: 100%;
    min-height: 100%;
}

.page__box {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.page-main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 67px;
    
}