.skeleton {
    display: flex;
    flex-direction: column;
    width: 515px;
    height: 136px;
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin: 30px;
    font-size: 0;
}

.skeleton__header {
    display: flex;
    padding-bottom: 24px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 32px;
    margin-right: 16px;
}

.skeleton__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
}

.skeleton__line {
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-5) 38.47%, var(--grey-6) 56.48%, var(--grey-7) 77.5%, var(--grey-2) 102.52%);
}

.skeleton__line_short {
    width: 39%;
}

.skeleton__line_middle {
    width: 59%;
}

.skeleton__body {
    display: flex;
    flex-direction: column;
}

.skeleton__line_long {
    height: 20px;
    width: 100%;
    margin-bottom: 8px;
}
