/* .tooltip-page {
    text-align: center;
    padding-top: 100px;
} */

.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tooltip__bubble {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -13px);
    padding: 20px;
    background: var(--blue);
    color: var(--grey-2);
    box-shadow: 0px 2px 4px var(--black2);
    border-radius: 10px;
}

.tooltip__bubble-content {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.tooltip__bubble::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35%;
    transform: translate(-50%, 0);
    border: 14px solid transparent;
    border-top: 10px solid var(--blue);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}